


p {
  margin-top: 11px;
  padding-left: 8px;
  font-family: 'Covered By Your Grace';
  font-size: 25px;
}

.box_shadow {
  box-shadow: 0px 0px 10px 0px #C4C4C4;
  z-index: -1;
}

.tabs {
  padding: 3px;
}

a {
  font-family: 'Barlow Semi Condensed';
}

#searchbtn {
  position: relative;
  top: 3px;
  right: 8px;
  z-index: 4;
}

#wrap {
  margin: 0px 30px;
  display: inline-block;
  position: relative;
  height: 0px;
  float: right;
  top: 18px;
  padding: 0px;
  position: absolute;
  right: 0px;
}

input[type="text"] {
  height: 27px;
  font-size: 13px;
  display: inline-block;
  font-family: "Barlow Semi Condensed";
  font-weight: 100;
  border: none;
  outline: none;
  color: black;
  padding: 2px;
  padding-right: 50px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background: #f8f9fa;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

input[type="text"]:focus {
  width: 170px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
}

input[type="submit"] {
  height: 25px;
  width: 30px;
  display: inline-block;
  color:black;
  float: right;
  text-indent: -1000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
  background: #46A818;
}

input[type="submit"]:hover {
  background: none;
}



#map {
   height: 35%;
   width: 80%;
 }


.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 13px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: White;
}

.navbar a.active {
  color: #46A818;
  box-shadow: 0px 0px 10px 0px #C4C4C4;
}

.main {
  padding: 16px;
  margin-bottom: 30px;
}


/* Contains the classes for app
.banner {
  height: 140px;
  padding: 10px;
  border-bottom: solid gray;
}



.tabsbar {
  border-bottom: solid gray;
}

.individual-tab {
  font-size: large;
  width: 180px;
  padding: 0% 3% 0% 5%;
  color: inherit;
  text-align: center;
}

.active{
  border-bottom: 5px solid rgba(70, 168, 24, 0.57);
}

.home{

}

.shelf-life{

}

.compost{

}

.redeem{

}

.help {

}

.column {
  float: left;
}

.column.left {
  width: 70%;
}

.column.right {

  width: 25%;
}
.announcement_images{
  align-content: center;
}
.announcement_content {
  background-color: gray;
  padding: 30px;
  height: 600px;
  border: 1px solid black;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a >img {
  width: 70%;
  margin: auto;
}

.store_locator {
  padding: 30px;
  height: 600px;
  border: 1px solid black;
}

.btn-home {
    background-color: white; /* White background
    border: 0px; /* Remove borders
    color: black; /* White text
    padding: 0 4px; /* Some padding
    font-size: 25px; /* Set a font size
    cursor: pointer; /* Mouse pointer on hover

}

 .active-home{
  border-bottom: 5px solid rgba(70, 168, 24, 0.57);
}
 .active{
  border-bottom: 5px solid rgba(70, 168, 24, 0.57);
}


 Column alighment for shelf life search
.column.left2 {
  width: 21%;
}
.shelf_life_search{
  padding: 10px;
  height: 400px;
  width: 200px;
  border: 1px solid black;
}
 .shelf_categories{
  margin:0 4% 5% 5%;
  float: left;
  clear:none;
  width:20%;
  height:250px;
  border:2px solid #808080;
}
 .categories_style{
  color: black;
  padding: 17% 2% 0 0;
  text-align: right;
}
*/
