/* Contains the classes for app -->*/
.title {
  background-color: green;
  padding: 10px;
  border-bottom: solid black;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 10px;
}

.nav-tabs {
  border-bottom: 1px solid green;
}

.individual-tab {
  font-size: large;
  padding-left: 125px;
  color: inherit;
  text-align: center;
}

.home{

}

.shelf-life{

}

.compost{

}

.redeem{

}

.help {

}

.column {
  float: left;
}

.column.left {
  width: 70%;
}

.column.right {

  width: 25%;
}

.announcement_content {
  background-color: green;
  padding: 10px;
  height: 650px;
  border: 1px solid black;
}

.store_locator {
background-color: green;
padding: 10px;
height: 650px;
border: 1px solid black;
}
